.btn{
    padding: 25px 40px;
    border-radius: 12px;
    border: 1px solid transparent;
    font-size: 1.25rem;
    font-weight: $font-w-500;
    transition: 0.3s all linear;
    @media screen and (max-width: 991px){
        padding: 15px 30px;
        font-size: 1rem;
    }
    @media screen and (max-width: 576px){
        padding: 10px ;
        font-size: 0.88rem;
    }
    &-normal{
        background-color: $main-color;
        color: $white-color;
        &:hover{
            border-color: $main-color;
            background-color: transparent;
            color: $main-color;
            box-shadow: 0 5px 15px rgba($color: $main-color, $alpha: 0.5);
        }
    }
    &-transparent{
        background-color: transparent;
        color: $main-color;
        border-color: $main-color;
        &:hover{
            border-color: transparent;
            background-color:$main-color ;
            color: $white-color;
            box-shadow: 0 5px 15px rgba($color: $main-color, $alpha: 0.5);
        }
    }
}