$font-f: 'Poppins', sans-serif;
$font-w-400: 400;
$font-w-500: 500;
$font-w-600: 600;
$font-w-700: 700;

$main-color: #F86061;
$red-color: #F55556;
$light-dark-color: #676767;
$dark-color: #4D4D4D;
$darker-color: #363636;
$darkest-color: #2E2E2E;
$green-color: #03A66B;
$orange-color: #F9BA45;
$white-color: #FFFFFF;
